input{
    
    width: 75%;
    border-radius: 20px;
    height: 30px;
    padding-left: 15px;
    font-size: 20px;
    
    
}


input:focus-visible {
    outline: 2px solid white;
  }


#save{
    border-radius: 20px;
    background-color: royalblue;
    height: 30px;
    width: 50%;
    font-size: 20px;
    color:white;
    
}


